.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f3f4f6;
  padding: 1rem;
}



/* Login animation: slide in from left */
.loginEnter {
  animation-name: slideInFromLeft;
}

/* Register animation: slide in from right */
.registerEnter {
  animation-name: slideInFromRight;
}

/* Keyframes */
@keyframes slideInFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideInFromRight {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

